<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.;Initial Catalog=aspnetdb;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <!--<add name="MovieDBContext" connectionString="Data Source=(local);Initial Catalog=MovieDBs;Integrated Security=SSPI" providerName="System.Data.SqlClient" />-->
    <!--<add name="MovieDBEntitiesOld" connectionString="metadata=res://*/Models.MovieDB.csdl|res://*/Models.MovieDB.ssdl|res://*/Models.MovieDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=MovieDBs;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="MoviesDbEntities" connectionString="Data Source=|DataDirectory|MoviesDB.sdf" providerName="System.Data.SqlServerCe.4.0" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>