<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.;Initial Catalog=aspnetdb;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <!--<add name="MovieDBContext" connectionString="Data Source=(local);Initial Catalog=MovieDBs;Integrated Security=SSPI" providerName="System.Data.SqlClient" />-->
    <add name="MovieDBEntities" connectionString="metadata=res://*/Models.MovieDB.csdl|res://*/Models.MovieDB.ssdl|res://*/Models.MovieDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=MovieDBs;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>