@model IEnumerable<W3SchoolsMvcApp.Models.Movie>
@using GridMvc.Html

@helper ActionColumn(int itemId) {
    <span>
        <a href='Javascript:ShowEditMovieWindow(@itemId);'>Edit</a> |
        @Html.ActionLink("Details", "Details", new { id = itemId }) |          
        <a href='Javascript:ConfirmMovieDelete(@itemId);'>Delete</a>
    </span>
}

@Html.Grid(Model).Columns(columns =>
    {
        columns.Add(item => item.ID, true);
        columns.Add(item => item.Title);
        columns.Add(item => item.Director);
        columns.Add(item => item.ReleaseDate)
            .Titled("Release Date")
            .RenderValueAs(item => item.ReleaseDate.HasValue ? item.ReleaseDate.Value.ToString("MM/dd/yyyy") : string.Empty
        );
        columns.Add().Encoded(false).Sanitized(false).RenderValueAs(item => 
            ActionColumn(@item.ID).ToHtmlString()
        );
    }).WithPaging(10).Sortable(true).EmptyText("There is no data to display")

