    
    @Html.ValidationSummary()
    <div>
        <label for="fileUpload">Select a CSV File</label> <input type="file" name="fileUpload" id="uploadControl"/>
        <input type="submit" value="Upload" onclick="handleUploadClientside();" style="margin-top:10px;" />
    </div>
